# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/
dist/
mkdocs_wavedrom_plugin.egg-info/

# Environments
env/

# mkdocs documentation
/site
/tests/e2e_*/site
/tests/e2e_*/.venv
/tests/e2e_*/uv.lock
.pytest_cache

# mypy
.mypy_cache/

# downloaded javascripts
docs/skin-default.js
docs/wavedrom.unpkg.js

venv
.vscode
.python-version
uv.lock